.direnv/
flake.lock
.droid
.env
services/.env-*
services/secrets/*
traefik-config/secrets/*
site/
*~
home-assistant/config/
config/homepage/logs/
services/config/homepage/logs/
config/homepage/custom.css
config/homepage/custom.js
config/homepage/kubernetes.yaml
.codex
